@use '@angular/material' as mat;
@include mat.core();

@import "variables";

$my-estate-webapp-primary: mat.define-palette($primary-urban-palette);
$my-estate-webapp-accent: mat.define-palette($accent-urban-palette);
$my-estate-webapp-warn: mat.define-palette(mat.$red-palette);

$my-estate-webapp-theme: mat.define-light-theme((
  color: (
    primary: $my-estate-webapp-primary,
    accent: $my-estate-webapp-accent,
    warn: $my-estate-webapp-warn,
  )
));
@include mat.all-component-themes($my-estate-webapp-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $urban-5-hex;
}