@use '@angular/material' as mat;
@import 'variables';

@include mat.core();

$my-estate-webapp-primary: mat.define-palette($app-palette);
$my-estate-webapp-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$my-estate-webapp-warn: mat.define-palette(mat.$red-palette);
$my-estate-webapp-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-estate-webapp-primary,
      accent: $my-estate-webapp-accent,
      warn: $my-estate-webapp-warn,
    ),
  )
);

@include mat.all-component-themes($my-estate-webapp-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  background-color: $Architektura-5-hex;
}
